/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";

.start-wars-dark {
  background: #0c111e;
}
.f-20 {
  font-size: 20px;
}

.background {
  background: (#261f32);
}
